@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  display: grid;
  grid-template-columns: 0.7fr 2fr;
  grid-template-rows: 1fr;
  height: 100dvh;
  font-size: 1.8rem;

  & aside {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    background-color: aquamarine;
    width: max-content;

    & h1 {
      font-size: 3rem;
      font-weight: 700;
      padding: 1rem 0rem 0rem 2rem;
    }

    & form {
      width: 95%;
      margin: 0rem 1rem;

      & .div {
        margin-bottom: 0rem;
        height: 8rem;

        & p {
          font-size: 1.5rem;
        }
      }

      & .div2 {
        & #term {
          width: 81%;
        }
        & #profitability {
          width: 65%;
        }
      }

      & .r-border {
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
      }
      & .l-border {
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
      }

      & .box-input {
        width: 98%;

        & .signal {
          width: 15%;
          text-align: center;
        }

        & .inputing {
          width: 83%;
          padding-left: 1rem;
          border: 0.1rem solid aquamarine;
        }

        & .inputing2 {
          width: 67%;
          padding-left: 1rem;
          border: 0.1rem solid aquamarine;
        }
      }
    }
    & .buttons {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  & #chartsPrincipal {
    height: 100dvh;
    overflow-y: auto;

    & #charts-container {
    }

    & #chart1 {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      height: 40dvh;
      padding: 2rem;
      margin-bottom: 2rem;
    }

    & #chart2 {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      height: 55dvh;
      padding: 1rem;
      margin-bottom: 5rem;
    }
  }

  & #table-container {
    height: 95dvh;
    padding: 0rem;
    overflow-y: auto;
    margin-top: -0.2rem;
    padding-right: 0.2rem;
    padding-left: 0.2rem;

    & p {
      text-align: center;
      font-size: 2rem;
      font-weight: 700;
      margin: 2rem;
    }
    & table {
      width: 100%;
      height: max-content;

      & th {
        padding: 0.2rem 0rem;
        background-color: rgb(35, 99, 184);
        border: 1px solid white;
        color: white;
        font-size: 1.8rem;
        position: sticky;
        top: 0;
      }

      & td {
        text-align: center;
        border: 1px solid white;
        font-size: 1.6rem;
      }
    }
  }
}
